.background-1{
  background-image: url(../Images/bg-1.webp);
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}
.background-2{
  background-image: url(../Images/bg-2.webp);
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}
.background-3{
  background-image: url(../Images/bg-3.webp);
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}
.background-4{
  background-image: url(../Images/bg-4.webp);
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}
.sidebar{
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  background-color: black;
  width: 0rem;
  flex-direction: column;
  transition: 0.5s ease-in-out;
  padding-left: 0;
  padding-top: 6rem;

}
aside div{
  margin-left: 4rem;
  border-bottom: 1.5px solid rgba(255, 255, 255, 0.15);
  font-family: var(--general-font);
  white-space: nowrap;
}
.sidebar-text{
  opacity: 0;
  margin-top: 0.5rem;
  transition: opacity 2s, margin 0.5s;
  transition-delay: 0.25s,0.25s;
}
.main-content{
  font-family: var(--general-font);
}
.main-content h2{
  font-weight: 700;
  font-size: 3rem;
}
.main-content h4{
  font-size: 1.3rem;
}
.watch-button{
  padding: 1em 3.8em;
  border: 2px solid white;
  background-color: transparent;
  font-size: 0.88rem;
  font-weight: 600;
  background-image: linear-gradient(white 0 0);
  background-size: 100% 0%;
  background-repeat: no-repeat;
  background-position: 0 100%;
  transition: background-size 0.3s, background-position 0s 0.3s, color 0.3s;
}
.watch-button:hover{
  background-size: 100% 100%;
  background-position: 0% 0%;
  color: black !important;
}
.spacex{
  font-size: 0.7rem;
}
.footer-text{
  font-size: 0.7rem;
  padding-left: 3%;
  font-weight: bold;
}
#load-transition-1{
  transform: translateY(3rem);
  opacity: 0;
  transition: 0.5s linear;
}
#load-transition-2{
  transform: translateY(3rem);
  opacity: 0;
  transition: 0.7s linear;
}
#load-transition-3{
  transform: translateY(3rem);
  opacity: 0;
  transition: 0.9s linear;
}
/* .text-1{
  transform: translateY(3rem);
  opacity: 0;
  transition: 0.5s linear;
}
#animate-1{
  transform: translateY(3rem);
  opacity: 0;
  transition: 0.2s linear;
}
#animate-2{
  transform: translateY(3rem);
  opacity: 0;
  transition: 0.4s linear;
}
#animate-3{
  transform: translateY(3rem);
  opacity: 0;
  transition: 0.6s linear;
}
#animate-4{
  transform: translateY(3rem);
  opacity: 0;
  transition: 0.4s linear;
}
#animate-5{
  transform: translateY(3rem);
  opacity: 0;
  transition: 0.6s linear;
}
#animate-6{
  transform: translateY(3rem);
  opacity: 0;
  transition: 0.6s linear;
}
#animate-7{
  transform: translateY(3rem);
  opacity: 0;
  transition: 0.6s linear;
} */
@media(max-width: 660px){
  .main-content h4{
    font-size: 1rem;
  }
  .main-content h2{
    font-size: 2.5rem;
  }
}
footer{
  flex-wrap: wrap;
}